body {
    background-color: #0f0f0f;
}

p {
    color: #b48c64;
}

#chat-client {
    display: flex;
}

#left-sidebar {
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
    flex-flow: 1;
    display: flex;
    flex-direction: column;
}

#left-button-bar {
    margin-bottom: 4px;
}

#hide-left-sidebar {
    height: 20px;
    background-color: #b48c64;
}

#chat-tabs {
    border: 2px solid #b48c64;
    flex-grow: 1;
    margin-bottom: 6px;
    overflow-y: auto;
    overflow-x: visible;
    max-height: 564px;
}

#chat-main {
    margin-top: 20px;
    margin-left: 6px;
    flex-flow: 1;
}

#chat-box {
    border: 2px solid #b48c64;
    margin-bottom:6px;
    width: 800px;
}

#chat-title {
    height: 1.0em;
    padding: 4px;
    padding-top: 2px;
    text-align: left;
    background-color: #b48c64;
    color: #0f0f0f;
}

#hidden-left-sidebar {
    margin-top: 20px;
    margin-left: 20px;
    display:none;
    width: 10px;
    background-color: #b48c64;
}

#chat-window {
    padding-top: 10px;
    background-color: #0f0f0f;
    overflow-y: auto;
    height: 600px;
    width: 100%;
}

#message-box {
    width: 800px;
    height: 24px;
    display: flex;
    border: 2px solid #b48c64;
    background-color: #0f0f0f;
}

#message-text {
    width: 800px;
    height: 16px;
    color: #b48c64;
    background-color: #0f0f0f;
    border: none;
    margin: 2px;
    resize: none;
}

#message-text:focus {
    outline: none;
}

#new-chat-users {
    width: 600px;
    height: 46px;
    color: #b48c64;
    background-color: #0f0f0f;
    border: none;
    margin: 2px;
    resize: none;
    border: 2px solid #B46D64;
}

#new-chat-users:focus {
    outline: none;
}

#status-bar {
    color: #b48c64;
    margin-left: 20px;
    margin-top: 6px;
}

#version-bar {
    font-size: 0.8em;
    color: #b48c64;
    margin-left: 20px;
    margin-top: 6px;
}

.input-box {
    padding: 10px;
    border: 2px solid #B46D64;
    margin-bottom:6px;
    display: none;    
    color: #B46D64;
}

.chat-message {
    color: #b48c64;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    margin-bottom:10px;
}

.sender-name {
    min-width: 120px;
    max-width: 120px;
    padding-right: 10px;
    flex-grow: 1;
    text-align: right;
    color: #b48c64;
}

.message {
    max-width: 650px;
    flex-grow: 1;
}

.chat-tab, .chat-tab-title {
    min-width: 88px;
    height: 1.0em;
    padding: 4px;
    display: inline-block;
    padding-top: 2px;
    text-align: left;
    color: #b48c64;
    background-color: #0f0f0f;
}

.sidebar-button {
    background-color: #b48c64;
    margin-bottom: 2px;
    padding: 2px;
    padding-left: 4px;
    border-radius: 0px 0px 10px 0px;
}

.input-tag {

}

input {
    color: #B46D64;
    background-color: #0f0f0f;
    margin: 0;
    margin-bottom: 10px;
    padding-left: 5px;
    width: 300px;
    border: 2px solid #B46D64;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    height: 20px;
}

input[type=submit] {
    background-color: #B46D64;
    color: #0f0f0f;
    width: 100%;
    margin-bottom: 0px;
}

input:focus {
    outline: none;
}

div::-webkit-scrollbar {
    width:12px;
    background-color:#0f0f0f;
}

div::-webkit-scrollbar:hover {
}

div::-webkit-scrollbar-thumb {
    background-color:#b48c64;
    border: 2px #0f0f0f solid;
}

div::-webkit-scrollbar-thumb:hover {
    background-color:#906943;
    border: 2px #0f0f0f solid;
}

div::-webkit-scrollbar-thumb:active {
    background-color:#784D23;
    border: 2px #0f0f0f solid;
}

div::-webkit-scrollbar-track {
    border:none;
} 